header, footer{
    text-align: center;
}

header{  
    background-color: gray;
    color: white;
}

#aviso1, #aviso2{
    color: red;
}

.non-styled{
    font-size: 16px;
}

.styled{
    font-size: 32px;
    font-style: italic;
    text-decoration:line-through;
    color: green;
}

footer{  
    width: 100%;
    background-color: darkred;
    color: white;
    clear: right;
    bottom: 0;
    position: absolute;
}
