.nav-links{
    padding: 15px;
	
    text-align: center;
}

.link-style{
    background-color: rgb(232, 236, 241);
    padding: 10px;
    margin: 15px;
    text-align: center;
    width: 15%;
    box-shadow: 0 0 6px lightblue;
}

footer{
    text-align: center;
}